<%= form_for([@article, @article.comments.build]) do |f| %>
<div class="comments-form">

  <div class="fields">
    <%= f.label :commenter %>
    <%= f.text_field :commenter, :class => 'size1of2' %>

    <%= f.label :body %>
    <%= f.text_area :body, rows: "5" %>
  </div>
  

  <div class="action">
    <%= f.submit "Submit", :class => 'btn-large btn-login size1of2' %>
  </div>
  
</div>
<% end %>