<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="articles-form">
    <div class="field">
      <%= f.text_field :title, :placeholder => 'Title' %>
    </div>
   
    <div class="field">
      <%= f.label :text %>
      <%= f.cktext_area :text, :ckeditor => {:language => 'en'}, :id => 'editor'%>
    </div>
   
   <br/>
   
    <div class="action">
      <%= f.submit "Update Article", :class => 'btn btn-update' %>
    </div>
  </div>
  
 
<% end %>
<script>
  CKEDITOR.replace('editor');
</script>