
<div class="login-content">

	<%= image_tag("logo_webzorro.png", :alt => "rss feed", :class => 'logo') %>
	<h3>Recover your password</h3>
	<p>Recover your Blog password using the email address associated with your account.</p>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions unit pl0 size1of2 pull-left">
	    <%= f.submit "Recover password", :class => 'btn-large btn-login' %>
	  </div>
	<% end %>

	<div class="return-login">
		<%= render "devise/shared/links" %>
	</div>

</div>

